<html xmlns:th="http://www.thymeleaf.org">

<!-- Brand Logo -->
<div th:fragment="sidebar-logo">
    <a href="console" class="brand-link">
        <img src="dist/img/mono-flow-logo.png" alt="App Builder Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Console</span>
    </a>
</div>

<!-- Sidebar -->
<div th:fragment="sidebar-menu">
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-grip-horizontal"></i><p>DataSource<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/console/database" class="nav-link">
                                <i class="fas fa-database nav-icon"></i><p>Database</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/console/rest-server" class="nav-link">
                                <i class="fas fa-solid fa-server nav-icon"></i><p>Rest Server</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/console/notification-provider" class="nav-link">
                                <i class="fas fa-envelope nav-icon"></i><p>Notification Provider</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="/console/workflow-builder" class="nav-link">
                        <i class="nav-icon fas fa-project-diagram"></i><p>Workflow</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tv"></i><p>View<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/console/view-builder" class="nav-link">
                                <i class="nav-icon fas fa-vector-square"></i><p>View Object</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/console/menu" class="nav-link">
                                <i class="fas fa-th-list nav-icon"></i><p>Menu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/console/layout" class="nav-link">
                                <i class="far fa-window-maximize nav-icon"></i><p>Frame</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="/console/rest-api" class="nav-link">
                        <i class="nav-icon fas fa-network-wired"></i><p>Rest API</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/console/scheduler" class="nav-link">
                        <i class="nav-icon fas fa-clock"></i><p>Scheduler</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-shield-alt"></i>
                        <p>Security<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/console/user" class="nav-link">
                                <i class="fas fa-user nav-icon"></i><p>User</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/console/user-group" class="nav-link">
                                <i class="fas fa-users nav-icon"></i><p>UserGroup</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/console/authority" class="nav-link">
                                <i class="fas fa-user-shield nav-icon"></i><p>Authority</p>
                            </a>
                        </li>
                    </ul>
                </li>
<!--
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-retweet"></i><p>Operation<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/console/entity" class="nav-link">
                                <i class="fas fa-cubes nav-icon"></i><p>Entity</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/console/query" class="nav-link">
                                <i class="fas fa-file-code nav-icon"></i><p>SQL</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/console/rest-client" class="nav-link">
                                <i class="fas fa-sitemap nav-icon"></i><p>Rest Client</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/console/notification" class="nav-link">
                                <i class="fas fa-envelope nav-icon"></i><p>Notification</p>
                            </a>
                        </li>
                    </ul>
                </li>
                -->

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>Setting<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/console/common-code" class="nav-link">
                                <i class="fas fa-book nav-icon"></i><p>Common Code</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
</div>
<!-- /.sidebar -->