<html xmlns:th="http://www.thymeleaf.org">

<!-- Left navbar links -->
<ul class="navbar-nav" th:fragment="navbar-left">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
</ul>

<!-- Right navbar links -->
<ul class="navbar-nav ml-auto" th:fragment="navbar-right">
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="window.open('/', 'home')" role="button">
            <i class="fas fa-home"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
        </a>
    </li>
</ul>